<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>服务</title>

    <link rel="stylesheet" href="../../static/css/global.css"/>
    <link rel="stylesheet" href="../../static/css/basic.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/service.css">
</head>
<body>

<div class="container">
    <h4 class="title">创建服务</h4>
    <div class="input-container">
        <input type="text" id="title" class="form-control text-input service-title" placeholder="服务标题">
        <input type="text" id="address" class="form-control text-input service-address" placeholder="预约地址">
        <input type="text" id="time" class="form-control text-input service-time" placeholder="预约时间" readonly>
        <input type="text" id="deadline" class="form-control text-input service-deadline" placeholder="截止时间" readonly>
        <input type="text" id="serviceType" class="form-control text-input service-type" placeholder="服务类型">
        <input type="text" id="professionType" class="form-control text-input service-profession" placeholder="专业类型">
        <textarea id="description" class="form-control text-input service-content" placeholder="服务正文"></textarea>
    </div>

    <div class="button-container">
        <button class="btn btn-primary button" id="create">创建</button>
        <button class="btn btn-default button button-cancel" id="cancel">取消</button>
        <button class="btn btn-default button button-cancel" id="return">返回</button>
    </div>
</div>
<div id="tip"></div>

<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/service.js"></script>
<script src="../../static/js/laydate/laydate.js"></script>
<script>
    $('#return').click(function () {
        window.location = '/static/expert';
    });

    $('#cancel').click(function () {
        $('#title').val('');
        $('#address').val('');
        $('#time').val('');
        $('#deadline').val('');
        $('#serviceType').val('');
        $('#professionType').val('');
        $('#description').val('');
    });

    $('#create').click(function () {
        var service = {
            expertName: localStorage.getItem("expertName"),
            title: $('#title').val(),
            address: $('#address').val(),
            time: $('#time').val(),
            deadline: $('#deadline').val(),
            serviceType: $('#serviceType').val(),
            professionType: $('#professionType').val(),
            description: $('#description').val()
        };

        var result = verifyServiceValue(service);
        if (result.success) {
            $.ajax({
                url: 'http://localhost:8090/service/create',
                method: 'post',
                data: service,
                crossDomain: true,
                success: function (result) {
                    if (result.success) {
                        showTip($('#tip'), result.message, '#47fa59');
                    } else {
                        showTip($('#tip'), result.message);
                    }
                },
                error: function (result) {
                    showTip($('#tip'), result);
                }
            });

        } else {
            showTip($('#tip'), result.message);
        }
    });

    laydate.render({
        elem: '#time',
        type: 'datetime'
    });

    laydate.render({
        elem: '#deadline',
        type: 'datetime'
    });

</script>
</body>
</html>