<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>

    <link rel="stylesheet" href="../static/css/global.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

<div class="container login-container">
    <h4 class="text-center title">后台管理系统</h4>
    <div class="input-container">
        <div class="input-group-lg text-center">
            <img src="../static/images/user.svg" class="icon">
            <input type="text" id="name" class="input" placeholder="请输入您的姓名">
        </div>
        <div class="input-group-lg text-center">
            <img src="../static/images/lock.svg" class="icon">
            <input type="password" id="password" class="input" placeholder="请输入您的密码">
        </div>

        <button class="input btn btn-primary" id="login">登录</button>
    </div>
</div>
<img src="../static/images/background.jpg" class="background"/>
<div id="tip"></div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/account.js"></script>
<script src="../static/js/util.js"></script>
<script>
    function submitLogin() {
        var name = $('#name').val();
        var password = $('#password').val();
        var result = verifyLoginInfo(name, password);
        if (result.success) {
            $.ajax({
                url: '/login',
                method: 'post',
                data: JSON.stringify({ name: name, password: password }),
                contentType: 'application/json',
                success: function (result) {
                    if (result.success) {
                        window.location = '/static/expert';
                    } else {
                        showTip($('#tip'), result.message, 'white');
                    }
                },
                error: function (message) {
                    showTip($('#tip'), message, 'white');
                }
            })
        } else {
            showTip($('#tip'), result.message, 'white');
        }
    }

    $('#login').click(function () {
        submitLogin();
    });

    $('#password').keyup(function (event) {
        if (event.keyCode === 13) {
            submitLogin();
        }
    })
</script>

</body>
</html>